<div class="container">
  <h1 class="text-center my-5">レクチャー資料の更新</h1>

  <div class="col-md-6 offset-md-3">
    <%= form_for @lecture do |f| %>
    <div class="form-group">
      <%= f.label "タイトル" %>
      <%= f.text_field :title, value: @lecture.title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "コメント" %>
      <%= f.text_field :comments, value: @lecture.comments, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "表示/非表示", class: 'mr-3'%>
      <%= f.check_box :activation, as: :boolean, value: @lecture.activation %>
    </div>

    <%= f.hidden_field :file, value: @lecture.file %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="text-center"><%= f.submit "登録", class: 'btn btn-primary w-25 my-auto' %></div>
    <% end %>
  </div>
</div>
