<div class="container">
  <%= link_to '資料をアップロード', new_lecture_path, class: 'btn btn-success float-right my-auto' %>
  <h1 class="text-left my-5">レクチャー資料一覧</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>名前</th>
        <th scope="col">投稿者</th>
        <th scope="col">コメント</th>
        <th scope="col">投稿日</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @lectures.each do |lecture| %>
      <% if lecture.activation %>
      <tr>
        <th class="align-middle" scope="row"><%= lecture.title %></th>
        <td class="align-middle"><%= lecture.user.name %></td>
        <td class="align-middle"><%= lecture.comments %></td>
        <td class="align-middle"><%= lecture.created_at.strftime('%Y年%m月%d日') %></td>
        <td class="align-middle"><button class="btn"><%= link_to "download", download_lecture_path(lecture) %></button></td>
        <% if logged_in? && ( match_login_user?(lecture.user) || authority_admin? )  %>
          <td class="align-middle"><%= link_to "編集", edit_lecture_path(lecture), class: "btn btn-success" %></td>
          <td class="align-middle"><%= link_to "削除", lecture_path(lecture), method: :delete, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
