<div class="container">
  <h1 class="text-center my-5">備品の更新</h1>

  <div class="col-md-6 offset-md-3">
    <%= form_for @equipment do |f| %>
      <div class="form-group">
        <%= f.label "備品名" %>
        <%= f.text_field :name, value: @equipment.name, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label "数量" %>
        <%= f.number_field :num, value: @equipment.num, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "備考" %>
        <%= f.text_field :note, value: @equipment.note, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "タグ" %>
        <%= f.collection_select :tag_id, Tag.all, :id, :name, {value: @equipment.tag.id}, {class: 'custom-select form-control'} %>
      </div>

      <div class="text-center"><%= f.submit "更新", class: 'btn btn-primary w-25 my-auto' %></div>
    <% end %>
  </div>
</div>