<div class="container">
  <h1 class="text-center my-5">備品登録</h1>

  <div class="col-md-6 offset-md-3">
    <%= form_for @equipment do |f| %>
      <div class="form-group">
        <%= f.label "備品名" %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label "数量" %>
        <%= f.number_field :num, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "備考" %>
        <%= f.text_field :note, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label "タグ" %>
        <%= f.select :tag, class: 'custom-select form-control' %>
      </div>

      <div class="text-center"><%= f.submit "登録", class: 'btn btn-primary w-25 my-auto' %></div>
    <% end %>
  </div>
</div>