<div class="container">
  <h1 class="text-center my-5">ユーザー情報編集</h1>

  <div class="col-md-6 offset-md-3">
    <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label "名前" %>
      <%= f.text_field :name, value: @user.name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label "学籍番号" %>
      <%= f.text_field :student_id, value: @user.student_id, class: 'form-control' %>
    </div>

      <!-- admin以上の権限であれば権限の変更が可能に、そうでなければ元々の権限を上書きする。 -->
      <% if authority_admin? %>
      <div class="form-group">
        <%= f.label "権限" %>
        <%= f.select :role, [%w(Member member), %w(Admin admin), %w(Owner owner)], {}, selected: @user.role, class: 'form-control custom-select' %>
      </div>
      <% else %>
        <%= f.hidden_field :role, value: @user.role %>
      <% end %>

      <%= f.fields_for :introduction do |b| %>
      <div class="form-group">
        <%= b.label "学部" %>
        <%= b.text_field :department, value: @user.introduction.department, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= b.label "１言コメント" %>
        <%= b.text_area :comments, value: @user.introduction.comments, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= b.label "学年" %>
        <%= b.select :grade, [['2年生', 2], ['3年生', 3], ['4年生', 4], ['卒業生', 0]], {}, selected: @user.introduction.grade, class: 'form-control custom-select' %>
      </div>
      <% end %>

    <div class="text-center"><%= f.submit "登録", class: 'btn btn-primary w-25' %></div>
    <% end %>
  </div>
</div>
