<div class="container">
  <h1 class="text-center my-5">パスワード更新</h1>

  <div class="col-md-6 offset-md-3">
    <%= form_for @user do |f| %>

    <div class="form-group">
      <%= f.label '以前のパスワード' %>
      <%= f.password_field :old_pass, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label '新しいパスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label '確認のためもう一度おねがいします' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="text-center"><%= f.submit "登録", class: 'btn btn-primary w-25' %></div>
    <% end %>
  </div>
</div>
