<div class="container">
  <% if logged_in? && authority_admin? %>
    <%= link_to '新規登録', new_user_path, class: 'btn btn-success float-right my-auto' %>
  <% end %>
  <h1 class="text-center my-5">ゼミメンバー</h1>

  <div class="row">
    <div class="forthes my-4 col-4">
      <h3>4年生</h3>
      <% unless @forthes.nil? %>
      <ul class="list-group">
        <% @forthes.each do |user| %>
          <li class="list-group-item list-group-item-action"><%= link_to user.name, user_path(user) %></li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div class="thirds my-4 col-4">
      <h3>3年生</h3>
      <% unless @thirds.nil? %>
      <ul class="list-group">
        <% @thirds.each do |user| %>
          <li class="list-group-item list-group-item-action"><%= link_to user.name, user_path(user) %></li>
        <% end %>
      </ul>
      <% end %>
    </div>


    <div class="seconds my-4 col-4">
      <h3>2年生</h3>
      <% unless @seconds.nil? %>
      <ul class="list-group">
        <% @seconds.each do |user| %>
          <li class="list-group-item list-group-item-action"><%= link_to user.name, user_path(user) %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>


  <hr>

  <div class="others my-4">
    <h3>卒業生</h3>
    <% unless @others.nil? %>
    <ul class="list-group">
      <% @others.each do |user| %>
        <li class="list-group-item list-group-item-action"><%= link_to user.name, user_path(user) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
