<div class="container">
<%= link_to '新規登録', new_equipment_path, class: 'btn btn-success float-right my_auto' %>
  <h1 class="text-left my-5">タグ一覧</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>タグ名</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @tags.each do |tag| %>
      <% if tag.activation %>
      <tr>
        <th class="align-middle" scope="row"><%= tag.name %></th>
        <td class="align-middle"><%= tag.created_at.strftime('%Y年%m月%d日') %></td>
        <td class="align-middle"><%= link_to "編集", edit_tag_path(tag), class: "btn btn-success" %></td>
        <td class="align-middle"><%= link_to "削除", destroy_tag_path(tag), class: "btn btn-danger" %></td>
      </tr>
      <% end %>
    <% end %>  
    </tbody>
  </table>
</div>