<header class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'Lashkia 研究室', root_path, id: 'logo', class: 'navbar-brand' %>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 後々ログインの状態に合わせて、表示するnav-itemを変える処理を追記する -->
    <nav>
      <div id="menu" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to '活動記録', '#' , class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '学会発表', publication_path , class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to '卒業研究', '#' , class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to '就職先', job_path , class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to 'メンバー', users_path , class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to '外部リンク', link_path , class: 'nav-link'%></li>
          <% if logged_in? %>
          <li class="nav-item"><%= link_to '研究室備品', equipments_path , class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to 'レクチャー', lectures_path , class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: "delete", class: 'nav-link' %></li>
          <% else %>
          <li class="nav-item"><%= link_to 'ログイン', login_path , class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
